@model Lotto.Models.StatisticViewModel
@{
    ViewBag.Title = "BestNumbersStatistics";
}

<h2>BestNumbersStatistics</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(p => p.StartDate)
    @Html.TextBoxFor(p => p.StartDate, new { @class = "datepicker" })
    <br />
    @Html.LabelFor(p => p.EndDate)
    @Html.TextBoxFor(p => p.EndDate, new { @class = "datepicker" })
    <br />
    @Html.LabelFor(p => p.NumbersCount)
    @Html.EditorFor(p => p.NumbersCount)
    <br />
    <input type="submit" value="Wyslij" />
}