<div class="list-group">
    @Html.ActionLink("Najrzadziej losowane numery", "WorstNumbersStatistics", "Lotto", new { category = "popo" }, new { @class = "list-group-item" })
    @Html.ActionLink("Najczesciej losowane numery", "BestNumbersStatistics", "Lotto", new { category = "popo" }, new { @class = "list-group-item" })
    @Html.ActionLink("Statystyki wszystkich liczb", "AllNumbersStatistics", "Lotto", new { category = "popo" }, new { @class = "list-group-item" })
    @Html.ActionLink("Wyniki losowan", "BasicStatistics", "Lotto", new { category = "popo" }, new { @class = "list-group-item" })
    @Html.ActionLink("Wyloguj", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })
    @*Html.ActionLink("Rejestruj", "RegisterUser", "Account", new { category = "popo" }, new { @class = "list-group-item" })*@
    @*Html.ActionLink("Zaloguj", "LogInUser", "Account", null, new { @class = ViewBag.SelectedCategory != null ? "list-group-item active" : "list-group-item" })*@
</div>
